name: Deploy to AKS (CD)

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - uses: actions/checkout@v4

      # Azure Login using Service Principal 
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # ACR Login
      - name: Login to Azure Container Registry
        run: |
          az acr login --name ${{ secrets.ACR_USERNAME }}

      # AKS authentication
      - name: Get AKS Credentials
        run: |
          az aks get-credentials \
            --resource-group ${{ secrets.AKS_RG }} \
            --name ${{ secrets.AKS_NAME }} \
            --overwrite-existing


      # Deploy to AKS
      - name: Deploy manifests to AKS
        run: |
          kubectl apply -f k8s/
          
